<div class="container well" style="width: 35rem;height: 25rem;margin-top: 10rem;">
    <nav class="navbar" style="background-color:black!important;">
        <span style="color: white;font-size: 20px;text-align: center;margin-left: 9rem;">
            BASKET
        </span>
    </nav>

    <form [formGroup]="myFormGroup" (ngSubmit)="login(myFormGroup)" submitted=true enctype="multipart/form data"
        action="/" name="myform" id="myform">

        <div class="form-group row">

            <div class="col-md-12">
                <input type="text" maxlength="7" autocomplete="off" id="familyId" class="form-control"
                    formControlName="familyId" placeholder="Family ID" style="width:100%;">
                <hr [hidden]="myFormGroup.controls.familyId.valid"
                    style="color:red;background-color: red;height: 2px;margin-top:1px;">
                <hr [hidden]="!myFormGroup.controls.familyId.valid"
                    style="color:none;background-color: none;height: 2px;margin-top:1px;">
            </div>

            <div class="col-md-12">
                <input type="text" autocomplete="off" id="name" class="form-control" formControlName="name"
                    placeholder="Name" style="width:100%;">
                <hr [hidden]="myFormGroup.controls.name.valid"
                    style="color:red;background-color: red;height: 2px;margin-top:1px;">
                <hr [hidden]="!myFormGroup.controls.name.valid"
                    style="color:none;background-color: none;height: 2px;margin-top:1px;">
            </div>

            <div class="col-md-12">
                <input type="text" pattern="\d*" maxlength="4" autocomplete="off" id="username" class="form-control"
                    formControlName="username" placeholder="User ID" style="width:100%;">
                <hr [hidden]="myFormGroup.controls.username.valid"
                    style="color:red;background-color: red;height: 2px;margin-top:1px;">
                <hr [hidden]="!myFormGroup.controls.username.valid"
                    style="color:none;background-color: none;height: 2px;margin-top:1px;">
            </div>

            <div class="col-md-12">
                <input type="password" pattern="\d*" maxlength="4" autocomplete="off" id="password" class="form-control"
                    formControlName="password" placeholder="Password" style="width:100%;">
                <hr [hidden]="myFormGroup.controls.password.valid"
                    style="color:red;background-color: red;height: 2px;margin-top:1px;">
                <hr [hidden]="!myFormGroup.controls.password.valid"
                    style="color:none;background-color: none;height: 2px;margin-top:1px;">
            </div>
        </div>

        <div class="row">

            <div class="form-group" class="col-md-12">
                <button type="submit" class="btn btn-primary" [disabled]='!myFormGroup.valid' style="width:100%;">
                    Register
                </button>
            </div>

            <div class="form-group" class="col-md-12">
                <button (click)="back()" class="btn btn-danger" style="width:100%;">
                    Back
                </button>
            </div>
        </div>


    </form>

</div>